{
  "plugins": [
    "prettier-plugin-tailwindcss"
  ],
  "arrowParens": "always",
  "semi": true,
  "trailingComma": "all",
  "tabWidth": 2,
  "endOfLine": "lf",
  "useTabs": false,
  "singleQuote": true,
  "printWidth": 100,
  "jsxSingleQuote": true
}